# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !).

# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/

# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~

# Various IDEs
.vscode/
.idea/
*.tmproj
.vs/

# OS files
.DS_Store
Thumbs.db

# Test files
*_test.go
*_test.yaml

# Build artifacts
*.tgz
